

NET "output_LED[7]" IOSTANDARD = LVCMOS33;
NET "output_LED[6]" IOSTANDARD = LVCMOS33;
NET "output_LED[5]" IOSTANDARD = LVCMOS33;
NET "output_LED[4]" IOSTANDARD = LVCMOS33;
NET "output_LED[3]" IOSTANDARD = LVCMOS33;
NET "output_LED[2]" IOSTANDARD = LVCMOS33;
NET "output_LED[1]" IOSTANDARD = LVCMOS33;
NET "output_LED[0]" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "CLK_OUT" IOSTANDARD = LVCMOS33;
NET "CS" IOSTANDARD = LVCMOS33;
NET "SDI" IOSTANDARD = LVCMOS33;

NET "output_LED[0]" LOC = P134;
NET "output_LED[1]" LOC = P133;
NET "output_LED[3]" LOC = P131;
NET "output_LED[4]" LOC = P127;
NET "output_LED[5]" LOC = P126;
NET "output_LED[6]" LOC = P124;
NET "output_LED[7]" LOC = P123;
NET "output_LED[2]" LOC = P132;
NET "CLK_OUT" LOC = P114;
NET "CS" LOC = P116;
NET "SDI" LOC = P118;
NET "clk" LOC = P56;

# PlanAhead Generated physical constraints 

NET "reset" LOC = P38;
