

NET "clk" LOC = P56;
NET "clk" IOSTANDARD = LVTTL;
NET "reset" LOC = P38;
NET "reset" IOSTANDARD = LVTTL;
NET "rx" LOC = P55;
NET "rx" IOSTANDARD = LVTTL;




NET "BPB_dac" LOC = P121;
NET "BPB_dac" IOSTANDARD = LVTTL;
NET "DIN_dac" LOC = P88;
NET "DIN_dac" IOSTANDARD = LVTTL;
NET "FSYNC_dac" LOC = P83;
NET "FSYNC_dac" IOSTANDARD = LVTTL;
NET "MUTEB_dac" LOC = P81;
NET "MUTEB_dac" IOSTANDARD = LVTTL;
NET "OSR1_dac" LOC = P117;
NET "OSR1_dac" IOSTANDARD = LVTTL;
NET "OSR2_dac" LOC = P119;
NET "OSR2_dac" IOSTANDARD = LVTTL;
NET "RSTB_dac" LOC = P79;
NET "RSTB_dac" IOSTANDARD = LVTTL;
NET "SCLK_dac" LOC = P85;
NET "SCLK_dac" IOSTANDARD = LVTTL;
NET "tx" LOC = P59;
NET "tx" IOSTANDARD = LVTTL;
NET "SCLK_12bits" LOC = P51;
NET "SCLK_12bits" IOSTANDARD = LVTTL;
NET "DOUT_12bits" LOC = P50;
NET "DOUT_12bits" IOSTANDARD = LVTTL;
NET "DIN_12bits" LOC = P15;
NET "DIN_12bits" IOSTANDARD = LVTTL;
NET "CS_12bits" LOC = P14;
NET "CS_12bits" IOSTANDARD = LVTTL;
NET "SCLK_10bits" LOC = P133;
NET "SCLK_10bits" IOSTANDARD = LVTTL;
NET "CS_10bits" LOC = P137;
NET "CS_10bits" IOSTANDARD = LVTTL;
NET "DIN_10bits" LOC = P139;
NET "DIN_10bits" IOSTANDARD = LVTTL;
NET "SSTRB_10bits" LOC = P140;
NET "SSTRB_10bits" IOSTANDARD = LVTTL;
NET "DOUT_10bits" LOC = P141;
NET "DOUT_10bits" IOSTANDARD = LVTTL;
NET "occupe" LOC = P123;
NET "occupe" IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "SHDN_10bits" LOC = P9;
NET "SHDN_10bits" IOSTANDARD = LVTTL;
NET "adc10_termine" LOC = P124 | IOSTANDARD = LVTTL;
NET "adc12_termine" LOC = p126 | IOSTANDARD = LVTTL;
