

NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;

# PlanAhead Generated physical constraints 

NET "BPB" LOC = P121 | IOSTANDARD = LVTTL;
NET "FSYNC" LOC = P83 | IOSTANDARD = LVTTL;
NET "MUTEB" LOC = P81 | IOSTANDARD = LVTTL;
NET "OSR1" LOC = P117 | IOSTANDARD = LVTTL;
NET "OSR2" LOC = P119 | IOSTANDARD = LVTTL;
NET "RSTB" LOC = P79 | IOSTANDARD = LVTTL;
NET "SCLK" LOC = P85 | IOSTANDARD = LVTTL;
NET "termine" LOC = P124 | IOSTANDARD = LVTTL;
NET "rx" LOC = P55 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "DIN" LOC = P88 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
