
NET "rx" LOC = P111 | IOSTANDARD = LVTTL;
NET "tx" LOC = P114 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "led_test[0]" LOC = P134 | IOSTANDARD = LVTTL;
NET "led_test[1]" LOC = P133 | IOSTANDARD = LVTTL;
NET "led_test[2]" LOC = P132 | IOSTANDARD = LVTTL;
NET "led_test[3]" LOC = P131 | IOSTANDARD = LVTTL;
NET "led_test[4]" LOC = P127 | IOSTANDARD = LVTTL;
NET "led_test[5]" LOC = P126 | IOSTANDARD = LVTTL;
NET "led_test[6]" LOC = P124 | IOSTANDARD = LVTTL;
NET "led_test[7]" LOC = P11 | IOSTANDARD = LVTTL;
NET "led_test[8]" LOC = P144 | IOSTANDARD = LVTTL;
NET "led_test[9]" LOC = P142 | IOSTANDARD = LVTTL;
NET "led_test[10]" LOC = P140 | IOSTANDARD = LVTTL;
NET "led_test[11]" LOC = P138 | IOSTANDARD = LVTTL;
NET "led_test[12]" LOC = P120 | IOSTANDARD = LVTTL;
NET "led_test[13]" LOC = P118 | IOSTANDARD = LVTTL;
NET "led_test[14]" LOC = P2 | IOSTANDARD = LVTTL;
NET "led_test[15]" LOC = P6 | IOSTANDARD = LVTTL;
NET "led_test[16]" LOC = P8 | IOSTANDARD = LVTTL;
NET "led_test[17]" LOC = P10 | IOSTANDARD = LVTTL;
NET "led_test[18]" LOC = P119 | IOSTANDARD = LVTTL;
NET "led_test[19]" LOC = P15 | IOSTANDARD = LVTTL;
NET "led_test[20]" LOC = P17 | IOSTANDARD = LVTTL;
NET "led_test[21]" LOC = P57 | IOSTANDARD = LVTTL;
NET "led_test[22]" LOC = P66 | IOSTANDARD = LVTTL;
NET "led_test[23]" LOC = P74 | IOSTANDARD = LVTTL;
NET "led_test[24]" LOC = P78 | IOSTANDARD = LVTTL;
NET "led_test[25]" LOC = P80 | IOSTANDARD = LVTTL;
NET "led_test[26]" LOC = P82 | IOSTANDARD = LVTTL;
NET "led_test[27]" LOC = P84 | IOSTANDARD = LVTTL;
NET "led_test[28]" LOC = P87 | IOSTANDARD = LVTTL;
NET "led_test[29]" LOC = P92 | IOSTANDARD = LVTTL;
NET "led_test[30]" LOC = P97 | IOSTANDARD = LVTTL;
NET "led_test[31]" LOC = P99 | IOSTANDARD = LVTTL;
NET "led_test_etat[0]" LOC = P100 | IOSTANDARD = LVTTL;
NET "led_test_etat[1]" LOC = P104 | IOSTANDARD = LVTTL;
NET "led_test_etat[2]" LOC = P33 | IOSTANDARD = LVTTL;
NET "led_test_etat[3]" LOC = P116 | IOSTANDARD = LVTTL;
NET "led_test_etat[4]" LOC = P102 | IOSTANDARD = LVTTL;

NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;
NET "termine" LOC = P101 | IOSTANDARD = LVTTL;
NET "enable_ram_test" LOC = P5 | IOSTANDARD = LVTTL;
