NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rx" LOC = P111 | IOSTANDARD = LVTTL;
NET "clk_out" LOC = P66 | IOSTANDARD = LVTTL;