
# PlanAhead Generated physical constraints 

NET "SCLK" LOC = P133 | IOSTANDARD = LVTTL;
NET "SSTRB" LOC = P140 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "DOUT" LOC = P141 | IOSTANDARD = LVTTL;
NET "DIN" LOC = P139 | IOSTANDARD = LVTTL;
NET "CS" LOC = P137 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "rx" LOC = P55 | IOSTANDARD = LVTTL;
NET "tx" LOC = P59 | IOSTANDARD = LVTTL;
#NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;
NET "data_out[7]" LOC = P123 | IOSTANDARD = LVTTL;
NET "data_out[6]" LOC = P124 | IOSTANDARD = LVTTL;
NET "data_out[5]" LOC = P126 | IOSTANDARD = LVTTL;
NET "data_out[4]" LOC = P127 | IOSTANDARD = LVTTL;
NET "data_out[3]" LOC = P131 | IOSTANDARD = LVTTL;
NET "data_out[2]" LOC = P132 | IOSTANDARD = LVTTL;
NET "data_out[1]" LOC = P134 | IOSTANDARD = LVTTL;