NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;
NET "termine" LOC = P124 | IOSTANDARD = LVTTL;

NET "BPB_dac" LOC = P121 | IOSTANDARD = LVTTL;
NET "FSYNC_dac" LOC = P83 | IOSTANDARD = LVTTL;
NET "MUTEB_dac" LOC = P81 | IOSTANDARD = LVTTL;
NET "OSR1_dac" LOC = P117 | IOSTANDARD = LVTTL;
NET "OSR2_dac" LOC = P119 | IOSTANDARD = LVTTL;
NET "RSTB_dac" LOC = P79 | IOSTANDARD = LVTTL;
NET "SCLK_dac" LOC = P85 | IOSTANDARD = LVTTL;
NET "rx" LOC = P111 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "DIN_dac" LOC = P88 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;