NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "DOUT" LOC = P141 | IOSTANDARD = LVTTL;
NET "SSTRB" LOC = P140 | IOSTANDARD = LVTTL;
NET "rx" LOC = P55 | IOSTANDARD = LVTTL;
NET "DIN" LOC = P139 | IOSTANDARD = LVTTL;
NET "SCLK" LOC = P133 | IOSTANDARD = LVTTL;
NET "CS" LOC = P137 | IOSTANDARD = LVTTL;
#voir pour envoyer data_out sur le port série