
#NET "cmp_fin_conv" LOC = P124 | IOSTANDARD = LVTTL;
#NET "cmp_fin_seq" LOC = P126 | IOSTANDARD = LVTTL;

NET "clk" IOSTANDARD = LVTTL;
NET "CS" IOSTANDARD = LVTTL;
NET "DIN" IOSTANDARD = LVTTL;
NET "DOUT" IOSTANDARD = LVTTL;
NET "occupe" IOSTANDARD = LVTTL;
NET "reset" IOSTANDARD = LVTTL;
NET "rx" IOSTANDARD = LVTTL;
NET "SCLK" IOSTANDARD = LVTTL;
NET "SHDN" IOSTANDARD = LVTTL;
NET "SSTRB" IOSTANDARD = LVTTL;
NET "termine" IOSTANDARD = LVTTL;
NET "tx" IOSTANDARD = LVTTL;


NET "clk" LOC = P56;
NET "CS" LOC = P137;
NET "DIN" LOC = P139;
NET "DOUT" LOC = P141;
NET "occupe" LOC = P123;
NET "reset" LOC = P38;
NET "SCLK" LOC = P133;
NET "SHDN" LOC = P9;
NET "SSTRB" LOC = P140;
NET "termine" LOC = P99;
NET "tx" LOC = P114;

# PlanAhead Generated physical constraints 

NET "rx" LOC = P111;
