NET "clk" LOC = P56 | IOSTANDARD = LVTTL ;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL ;
NET "rx" LOC = P55 | IOSTANDARD = LVTTL ;
NET "tx" LOC = P59 | IOSTANDARD = LVTTL ;
NET "output_LED_fin_conversion" LOC = P123 | IOSTANDARD = LVTTL ;
NET "output_LED_fin_transfert" LOC = P124 | IOSTANDARD = LVTTL ;
NET "DOUT" LOC = P50 | IOSTANDARD = LVTTL ;
NET "CS" LOC = P14 | IOSTANDARD = LVTTL ;
NET "SCLK" LOC = P51 | IOSTANDARD = LVTTL ;
NET "DIN" LOC = P15 | IOSTANDARD = LVTTL ;
