
#I/O dac 16 bits
NET "BPB_dac" LOC = P121 | IOSTANDARD = LVTTL;
NET "FSYNC_dac" LOC = P83 | IOSTANDARD = LVTTL;
NET "MUTEB_dac" LOC = P81 | IOSTANDARD = LVTTL;
NET "OSR1_dac" LOC = P117 | IOSTANDARD = LVTTL;
NET "OSR2_dac" LOC = P119 | IOSTANDARD = LVTTL;
NET "RSTB_dac" LOC = P79 | IOSTANDARD = LVTTL;
NET "SCLK_dac" LOC = P85 | IOSTANDARD = LVTTL;
NET "DIN_dac" LOC = P88 | IOSTANDARD = LVTTL;

#I/O adc 10 bits
NET "SHDN_10bits" LOC = P9 | IOSTANDARD = LVTTL;
NET "SSTRB_10bits" LOC = P140 | IOSTANDARD = LVTTL;
NET "DOUT_10bits" LOC = P141 | IOSTANDARD = LVTTL;
NET "SCLK_10bits" LOC = P133 | IOSTANDARD = LVTTL;
NET "CS_10bits" LOC = P137 | IOSTANDARD = LVTTL;
NET "DIN_10bits" LOC = P139 |  IOSTANDARD = LVTTL;

#I/O adc 12 bits
NET "SCLK_12bits" LOC = P51 |  IOSTANDARD = LVTTL;
NET "DOUT_12bits" LOC = P50 |  IOSTANDARD = LVTTL;
NET "DIN_12bits" LOC = P15 |  IOSTANDARD = LVTTL;
NET "CS_12bits" LOC = P14 |  IOSTANDARD = LVTTL;

#I/O pot
NET "SCLK_pot" LOC = P116 | IOSTANDARD = LVTTL;
NET "SDI" LOC = P120 | IOSTANDARD = LVTTL;
NET "CS_pot" LOC = P118 | IOSTANDARD = LVTTL;

#I/O general
NET "rx" LOC = P74 | IOSTANDARD = LVTTL;
NET "tx" LOC = P78 | IOSTANDARD = LVTTL;
NET "reset" LOC = P38 | IOSTANDARD = LVTTL;
NET "clk" LOC = P56 | IOSTANDARD = LVTTL;
NET "occupe" LOC = P123 | IOSTANDARD = LVTTL;
NET "termine" LOC = P124 | IOSTANDARD = LVTTL;
NET "conversion_adc12bits" LOC = P126 | IOSTANDARD = LVTTL;
NET "pente_onde_tri" LOC = P134 | IOSTANDARD = LVTTL;
NET "test_output_led[0]" LOC = P132 | IOSTANDARD = LVTTL;
NET "test_output_led[1]" LOC = P131 | IOSTANDARD = LVTTL;
NET "test_output_led[2]" LOC = P127 | IOSTANDARD = LVTTL;
NET "reg_start_adc10bits" LOC = P5 | IOSTANDARD = LVTTL;